body {
	font-family: 'Open Sans', sans-serif;
	background-color: black;
	color: white;
	text-align: center;
}
p {
	background-color: #ccc;
	margin: 20px;
	padding: 40px;
}
img {
	width: 100%;
}