body {
	font-family: 'Open Sans', sans-serif;
	background-color: black;
	color: white;
	text-align: center;
}
p {
	background-color: #ccc;
	margin: 20px;
	padding: 40px;
	color: #cc9966;
}
h1 {
	color: rgb(255,0,0);
}
img {
	width: 100%;
}